.navbar {
    background-color: black;
    position: relative;
}
.link {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px 10px 20px;
}
.navbar-left {
    display: inline-block;
}
.navbar-right {
    display: inline-block;
    position: absolute;
    right: 0;
}
@media (max-wight: 900px) {
    .link{
        display: block;
    }
    .navbar-left {
        display: block;
    }
    .navbar-right {
        display: block;
        position: static;
    }
    .navbar {
        max-height: 40px;
        overflow: hidden;
    }
    .navbar-indicator:checked + .navbar {
        max-height: 400px;
    }
    .navbar-toggler {
        color: white;
        display: inline-block;
        padding: 10px 20px 10px 20px;
        position: absolute;
        right: 0;
    }
}