* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.dropdown {
    max-height: 34px;
    overflow: hidden;
    display: inline-block;
}

.dropdown.show {
    max-height: 205px;
}

.dropdown-btn {
    color: white;
    background-color: dodgerblue;
    border: none;

    padding: 9px 15px;
}

.dropdown-list {
    width: 240px;

    position: relative;
    top: 4px;
}

.dropdown-list > li {
    color: white;
    background-color: dodgerblue;

    padding: 9px 15px;
}